
// Body
$light-blue: #6699FF;
$blue: #336699;
$orange: #FF9933;
$red: #FF0000;
$dark-blue: #003366;
$black: #333333;
$white: #FFFFFF;
$grey : #F2F2F2;
$gray:#CCCCCC;
$red:#ff9999;

$dashboard_sidebar_bg:#2B333E;
$dashboard_sidebar_bg_alt:#333C48;
$dashboard_sidebar_bg_selected:#222933;
$dashboard_body_bg:#F1F4F8;
$dashboard_body_bg_alt: #FFFFFF;
$dashboard_font_color_blue:#D9EBFF;
$btn_primary:#75efa8;
$btn_success_color:#75efa8;
$btn_fail_color:#ed7474;
$white: #FFFFFF;

$website_gold:rgb(192, 190, 173);
$error_bg:#e2aaaa;
$error_border:#e27f7f;
$error_bg_alt:#F9C0C0;
$error_border_alt:#F45B66;

$website_color_grey:rgb(218,218,218);

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//mixin
@mixin font-open-sans($weight, $color, $size)
{
	@include font('Open Sans',$weight, $color, $size);
		
}

@mixin font-roboto($weight, $color, $size)
{	
	@include font('roboto',$weight, $color, $size);
}


@mixin font($family, $weight, $color, $size)
{
	font-family: $family;
	font-weight:$weight;
	font-size:$size;
	color:$color;
}

h1,h2,h3,h4,h5{
	font-family: 'roboto';
}