@import 'default';
@import '_nav';
@import '_error';

.address-wrap{
	@include span(1/2);
	float:none;
	margin:0 auto;

	.group{
		@include span(1);
		float:left;
		margin:0.5em 0;


		>div{
			@include span(1);
		}

		input[type="text"]{
			@include span(1);
			border:2px solid $blue;
			padding:10px 15px;
			border-radius:5px;
		}

		input[type="submit"] {
			@include span(1);
			padding:10px 15px;
			text-align: center;
			border:0;
			background: $blue;
			@include font-open-sans(bold,$white,14pt);
			border-radius:4px;
		}
	}
}