body 
    { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif; 
    background: url(/images/wallpaper.png) repeat; 
    color: #000000;     
    text-align:center; 
} 


#footer{
	margin-top: 10px;
	padding: 20px;
	color: #fff;
	background: #333;
     
}
