
#link1 {
    background-color: #6699FF;
    color: #F2F2F2;
}

#link2 {
    background-color: #336699;
    padding: 1;
    margin-bottom: 2;
    color: #F2F2F2;
}

a {
    color: white;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #336699;
    color: white;
    text-align: center;
}

<<<<<<< HEAD


=======
<<<<<<< HEAD
.col-sm-3 {
    border: 1px solid #003366;
    padding-top: 10px;
}
/*
=======
>>>>>>> 01e28a15443a73dd1e8275b371a7c5d1cf61b373
>>>>>>> 1c29d8af60e4df7fd1451ae56e7befdf3b61dfd0
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
*/ 
#navbarDropdownMenuLink {
    border: none;
    padding: inherit;
    background: white;
    border-radius: 0px 35px 35px 0px;
    height: 35px;
    color: grey;
}

.col-lg-6 {
    display: flex;
    background-color: white;
    border-radius: 10px;
}

.search-gap {
    margin-left: 5px;
}

.divider {
    height: 35px;
    color: grey;
    padding: inherit;
    padding-top: 3px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    color: white;
}