



.product-image img{
	width: 750px;
	height:400px;
   
	margin-left: 0px;
}


.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 120px;
  height: 50px;
  line-height: 1.65;
  display: block;
  padding-left: 50px;
  border: 1px solid black;
  position: absolute;
  right:100px;
  bottom:115px;
  
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  
  bottom: -1px;
  height: 50%;
}

.product-price{
    position: absolute;
    top:150px;
    right: 70px;
    color:DodgerBlue;
    padding:5px;
    font-size: 40px;
	font-weight: bold;
}
.product-but button {
     position: absolute;
    border-radius: 8px;
	top: 500px;
   right: 50px;
   padding: 15px 80px;
}
.but2 button {
     position: absolute;

	top: 1125px;
   left: 440px;
   padding: 12px 70px;
}


h6{
	position: absolute;
	right:195px;
	top:240px;
	font-weight: bold;
}
h5{
	position: absolute;
	right:157px;
	top:280px;
}
h4{
	position: absolute;
	right:30px;
	top:280px;
	font-weight: bold;
}
p.time{
	position: absolute;
	right:157px;
	top:320px;
	color:Gray;
}
h6.qua{
	position: absolute;
	right:253px;
	top:370px;
	font-weight: bold;
}

h4.des{
	 font-weight: bold;
	 left:10px;
	 top:570px;
}

h4.rev{
	left:10px;
	top:665px;
}
div.r1 {
    width: 1100px;
    padding: 25px;
    box-sizing: border-box;
    background-color: lightgrey;
}
.r1 p.name{
    font-weight: bold;
	font-size: 20px;
}

.r1 p.date{
	font-size: 17px;
	color:grey;
	margin-left: 150px;

}
div.r2 {
    width: 1100px;
    padding: 25px;
    box-sizing: border-box;
    background-color: lightgrey;
}
.r2 p.name2{
    font-weight: bold;
	font-size: 20px;
}
.r2 p.date2{
	font-size: 17px;
	color:grey;
	margin-left: 150px;
}
.nowrap {
  white-space: nowrap ;
}
i.material-icons {
	color:gold;
	
}
.box{
	width:auto;
    margin: auto;
	background-color:lightgrey;
}