
.product-image img{
	width: 750px;
	height:400px;
   
	margin-left: 0px;
}
.product-image a{
	margin-right: 100px
	float: left;
}

.quantity {
	position: absolute;
    right:70px;
	top:400px;
	justify-content: center;
  text-transform: uppercase;
 letter-spacing: -0.3em;
  font-size: 25px;
 
  
}
.quantity input {
  text-align: center;
}


button {
	padding : 5px 18px;
	font-size: 22px;
	border-radius: 0px;
	margin:0 auto;
	 color:#333333;
	 
}


button:hover {
		background-color: # F2F2F2 ;
	}

.product-price{
    position: absolute;
    top:150px;
    right: 70px;
    color:DodgerBlue;
    padding:5px;
    font-size: 40px;
	font-weight: bold;
}
.product-but button {
     position: absolute;
    border-radius: 8px;
	top: 500px;
   right: 50px;
   padding: 15px 80px;
}
.but2 button {
     position: absolute;
	top: 1170px;
   left: 440px;
   padding: 12px 70px;
}

h6.deli{
	position: absolute;
	right:210px;
	top:250px;
	font-weight: bold;
}
h5{
	position: absolute;
	right:157px;
	top:280px;
}
h4{
	position: absolute;
	right:30px;
	top:280px;
	font-weight: bold;
}
p.time{
	position: absolute;
	right:157px;
	top:320px;
	color:Gray;
}
h6.qua{
	position: absolute;
	right:253px;
	top:370px;
	font-weight: bold;
}

h4.des{
	 font-weight: bold;
	 left:10px;
	 top:570px;
}

h4.rev{
	left:10px;
	top:665px;
}
h2.star{
	color:gold;
}
h1.star{
	position: absolute;
	right:80px;
	top:440px;
	color:gold;
	font-size:48px;
}


div.r1 {
    width: 1100px;
    padding: 25px;
    box-sizing: border-box;
    background-color:  #F2F2F2;
}
.r1 p.name{
    font-weight: bold;
	font-size: 20px;
}

.r1 p.date{
	font-size: 17px;
	color:grey;
	margin-left: 150px;

}
div.r2 {
    width: 1100px;
    padding: 25px;
    box-sizing: border-box;
    background-color:  #F2F2F2;
}
.r2 p.name2{
    font-weight: bold;
	font-size: 20px;
}
.r2 p.date2{
	font-size: 17px;
	color:grey;
	margin-left: 150px;
}
.nowrap {
  white-space: nowrap ;
}

.box{
	width:auto;
    margin: auto;
	background-color: #F2F2F2;
}



/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.Slides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  
  position: absolute;
  top: 30%;

  width: auto;
  margin-top: -22px;
  padding: 16px;

  font-weight: normal;
  font-size: 35px;
  background-color:white;
  border-radius: 0 1px 1px 0;
  right:1075px;
}

/* Position the "next button" to the right */
.next {
  right: 375px;
  border-radius: 1px 0 0 1px;
  background-color:white;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: grey;
 color:  #F2F2F2;
}